<nav class="dark:bg-[#021D4A]">
    <div class="flex flex-col justify-between items-center md:flex-row w-full px-4 py-2">
        {{!-- Logo --}}
        <div class="flex-shrink-0">
            <a href="/" class="navbar-brand">
                <Logo />
            </a>
        </div>

        {{!-- Links --}}
        <div class="flex justify-center items-center space-x-4 rounded-full px-6 py-2">
            <a href="/blogs/authors"
                class="font-heading text-black font-bold hover:text-yellow-400 hover:dark:text-white dark:text-yellow-400">
                Authors
            </a>
            <a href="/blogs"
                class="font-heading text-black font-bold hover:text-yellow-400 hover:dark:text-white dark:text-yellow-400">
                Articles
            </a>
        </div>

        {{!-- Theme Toggle Button --}}
        <button class="rounded-lg px-4 py-2 text-sm font-medium text-gray-800 hover:bg-gray-50 focus:outline-none focus:ring-4 dark:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-800" type="button" {{on "click" this.toggleTheme}}>
            {{#if (eq this.theme "light")}}
            <svg fill="#000000" height="20px" width="20px" viewBox="0 0 64 64">
                <path
                    d="M63.4374046,38.4606323c-0.4258003-0.2060013-0.9384995-0.0848999-1.2276001,0.2910995c-1.2803001,1.6650009-2.9452972,3.2001991-4.9501991,4.5625c-11.6180992,7.8808022-27.544899,4.9248009-35.4971008-6.5956993c-7.8154011-11.3204002-4.9902-26.9736996,6.2968998-34.8936005c0.3799-0.2666,0.5263996-0.7588,0.3544998-1.1895001c-0.1728001-0.4316-0.625-0.6835-1.0771008-0.6181c-4.6474991,0.6953-9.2070999,2.4902-13.1875,5.1893997C6.9706059,10.0759325,2.1415057,17.427433,0.5526057,25.9079323c-1.582,8.4414024,0.2402,16.9932022,5.1308002,24.0791016c6.2872,9.1054993,16.4864006,14.0058975,26.8554993,14.0058975c6.3173981,0,12.6982994-1.819397,18.2939987-5.6161995c6.5800018-4.461998,11.2461014-11.1298981,13.1406021-18.7753983C64.0877075,39.142334,63.8631058,38.6657333,63.4374046,38.4606323z" />
            </svg>
            {{else}}
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth="{1.5}"
                stroke="currentColor" class="w-6 h-6">
                <path strokeLinecap="round" strokeLinejoin="round"
                    d="M12 3v1.5M12 19.5V21M4.219 4.219l1.06 1.06M18.72 18.72l1.06 1.06M3 12h1.5M19.5 12H21M4.219 19.781l1.06-1.06M18.72 5.28l1.06-1.06M8.25 12a3.75 3.75 0 107.5 0 3.75 3.75 0 00-7.5 0z" />
            </svg>
            {{/if}}
        </button>
    </div>
</nav>