<div class="logo">
    <img src="/images/logo.png" alt="Savvy Bridge Logo" class="h-12 w-auto mr-4" />
    <h1 class="heading">
        <span class="text-yellow-400">Savvy</span>
        <span class="text-black dark:text-white">Bridge</span>
    </h1>
</div>