{{!-- <Header/>

<main>
    {{outlet}}
</main>

<Footer/> --}}


{{#if this.isFastBoot}}
  <meta name="fastboot-enabled" content="true">
{{/if}}

<Header/>

<main>
    {{outlet}}
</main>

<Footer/>
