{{!-- Main Content --}}
<div class="flex w-full bg-white dark:bg-[#021D4A] dark:text-white">
    <ul class="grid grid-cols-1 md:grid-cols-3 p-0 m-0">
        {{!-- Mobile App Development Section --}}
        <div class="space-y-4 p-4">
            <li>
                <h1 class="font-heading font-semibold hover:text-primary-600 dark:hover:text-primary-500">
                    Mobile App Development
                </h1>
            </li>
            <li>
                <a href="#" class="text-base font-sans hover:text-primary-600 dark:hover:text-primary-500">Android</a>
            </li>
            <li>
                <a href="#" class="text-base font-sans hover:text-primary-600 dark:hover:text-primary-500">IOS</a>
            </li>
            <li>
                <a href="#" class="text-base font-sans hover:text-primary-600 dark:hover:text-primary-500">Flutter</a>
            </li>
        </div>

        {{!-- Web App Development Section --}}
        <div class="space-y-4 p-4">
            <li>
                <h1 class="font-heading font-semibold hover:text-primary-600 dark:hover:text-primary-500">
                    Web App Development
                </h1>
            </li>
            <li>
                <a href="#" class="text-base font-sans hover:text-primary-600 dark:hover:text-primary-500">Ruby on
                    Rails</a>
            </li>
            <li>
                <a href="#" class="text-base font-sans hover:text-primary-600 dark:hover:text-primary-500">HotWire</a>
            </li>
            <li>
                <a href="#" class="text-base font-sans hover:text-primary-600 dark:hover:text-primary-500">MERN
                    Stack</a>
            </li>
            <li>
                <a href="#" class="text-base font-sans hover:text-primary-600 dark:hover:text-primary-500">ReactJS</a>
            </li>
        </div>

        {{!-- System Integration Section --}}
        <div class="space-y-4 p-4">
            <li>
                <h1 class="font-heading font-semibold hover:text-primary-600 dark:hover:text-primary-500">
                    System Integration
                </h1>
            </li>
            <li>
                <a href="#" class="text-base font-sans hover:text-primary-600 dark:hover:text-primary-500">
                    Connect with third-party tools that you're already using.
                </a>
            </li>
        </div>
    </ul>
</div>
